.login-main {
  height: 80vh;
}

@media (min-width: 768px) {
  .login-main {
    height: 80vh;
  }
}

@media (min-width: 992px) {
  .login-main-logo {
    height: 300px;
    width: 300px;
    background-image: url("https://cybmmybwfbmxasdepuyj.supabase.co/storage/v1/object/public/images/logos/imagotipo.png");
    background-size: cover;
    background-position: center;
  }
}

@media (min-width: 576px) {
  .login-main-container {
    height: 100%;
    width: 70vw;
  }
}

@media (min-width: 992px) {
  .login-main-container {
    width: 50vw;
  }
}

@media (min-width: 992px) {
  .login-main-container {
    width: 30vw;
  }
}
.login-form-data-unit {
  margin: 0.25rem 0;
}
@media (min-width: 1200px) {
  .login-form-data-unit label {
    font-weight: 500;
  }
}
