.register {
	display: flex;
	flex-direction: column;
}

.register-main {
	height: 80vh;
	display: flex;
}

@media (min-width: 992px) {
	.register-main-logo {
		height: 300px;
		width: 300px;

		margin: auto;

		background-image: url("https://cybmmybwfbmxasdepuyj.supabase.co/storage/v1/object/public/images/logos/imagotipo.png");
		background-size: cover;
		background-position: center;
	}
}

.register-main-container {
	width: 100vw;

	display: flex;
	flex-direction: column;
	justify-content: center;

	margin: auto;

	background-color: #fff;
}

@media (min-width: 576px) {
	.register-main-container {
		width: 70vw;
	}
}

@media (min-width: 576px) {
	.register-main-container {
		width: 50vw;
	}
}

@media (min-width: 992px) {
	.register-main-container {
		width: 30vw;
	}
}

.register-main-header {
	display: flex;
	justify-content: center;
}

.register-main-header h1 {
	margin: 0.5rem;

	font-weight: 900;
	font-size: 1.5rem;

	color: #000;
}

.register-form-container form {
	display: flex;
	flex-direction: column;

	padding: 0 1rem;
}

.register-form-data {
	display: flex;
	flex-direction: column;
}

.register-form-data-unit {
	display: flex;
	flex-direction: column;

	margin: 0.25rem 0;
}

.register-form-data-unit label {
	text-align: left;
	font-size: 1rem;
	font-weight: 500;
}

@media (min-width: 1200px) {
	.register-form-data-unit label {
		font-weight: 500;
	}
}

.register-form-data-unit input {
	border: 1px solid lightgray;
	border-radius: 2.5px;

	line-height: 2rem;
}

.register-form-data-unit input:focus {
	outline: #000;
}

.register-form-confirm {
	width: 200px;

	margin: 1rem auto 0 auto;

	background-color: #000;

	font-size: 1rem;

	color: #fff;
}

.register-form-confirm:hover {
	color: #fff;
}
