@media (min-width: 992px) {
  .register-main-logo {
    height: 300px;
    width: 300px;
    margin: auto;
    background-image: url("https://cybmmybwfbmxasdepuyj.supabase.co/storage/v1/object/public/images/logos/imagotipo.png");
    background-size: cover;
    background-position: center;
  }
}
