.back-navbar {
	height: 45px;
	width: 100%;

	display: flex;
	justify-content: flex-end;
	align-items: center;

	padding: 0 1rem;

	font-weight: bold;

	background-color: #000;
}

@media (min-width: 768px) {
	.back-navbar {
		padding: 0 5rem;
	}
}

.back-navbar span,
a {
	text-decoration: none;

	color: #fff;
}

.back-navbar a:hover {
	color: #fff;
}

.back-navbar button {
	padding: 0 0.5rem;
}

.back-navbar i {
	font-size: 2rem;
}

.back-navbar h1 {
	margin: auto;

	color: #fff;
}
