.nav {
  background-color: black;
  color: white;
}

.btnMenu {
  width: 90px;
  height: 90px;
  border: 5px solid white;
  border-radius: 50%;
}
.btnMenu img {
  width: 100%;
  height: 100%;
}
.btnMenu img:hover {
  cursor: pointer;
}
.abierto {
  display: block;
  width: 20%;
  transition: all 5000s ease;
  opacity: 0.91;
}
.cerrado {
  display: none;
}
.subMenu {
  display: flex;
  width: 100vw;
  color: black;
  background-color: white;
  transition: all 5000s ease;
  padding-left: 0;
  background-color: black;
}
.subMenu-hijos {
  padding: 0.5rem 0;
  cursor: pointer;
  color: white;
  margin: 0 auto;
  z-index: 20;
  color: white;
  padding: 1rem;
}
.subMenu-hijos:hover {
  background-color: white;
  color: black;
}
