.navigation {
  background-color: black;
  color: white;
  position: relative;
}
/* Para quitar los estilos propios de Bootstrap */
.show > .btn-primary.dropdown-toggle,
.show > .btn-primary.dropdown-toggle:hover,
.show > .btn-primary.dropdown-toggle:focus,
.btn-check:focus.btn-primary,
.btn-primary:focus,
.btn-primary,
.btn-primary:focus,
.btn-primary:hover {
  color: black;
  background-color: black;
  border-color: black;
  box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 0%);
}
.dropdown-toggle::after {
  display: none;
}
.navigation .show {
  min-width: 100%;
}
.submenu {
  inset: inherit !important;
  transform: inherit !important;
}
/* Fin de quitar los estilos propios de Bootstrap */

.btnMenu {
  width: 90px;
  height: 100%;
}

.btnMenu img {
  height: 100%;
}
.btnMenu img:hover {
  cursor: pointer;
}
.abierto {
  display: block;
  opacity: 0.91;
}
.cerrado {
  display: none;
}

/* Boton del carrito */

.btnCarrito i {
  font-size: 2rem;
}
.btnCarrito i:hover {
  cursor: pointer;
}
