.product-info {
  text-transform: uppercase;
  margin: 0;
}

.productCard:hover,
.productCard:focus {
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: 0 0.5em 0.5em -0.4em black;
  transform: translateY(-0.25em);
}
