.homeScrollContainer {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-snap-type: y mandatory;
  /* overflow-y: scroll; */
}
.homeScrollContainer-seccion {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-snap-align: start;
}

.homeScrollContainer-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 800px;
}

@media (max-width: 882px) {
  .homeScrollContainer-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
  }
}
@media (max-width: 720px) {
  .homeScrollContainer-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
  }
}
@media (max-width: 542px) {
  .homeScrollContainer-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
  }
}

.homeScrollContainer-header-logo_overlay {
  text-align: center;
  border: none;
  height: 10vh;
}
