.homeScrollContainer {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-snap-type: y mandatory;
  /* overflow-y: scroll; */
}
.homeScrollContainer-seccion {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-snap-align: start;
}

.homeScrollContainer-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vw;
}
/* 
@media (max-width: 882px) {
  .homeScrollContainer-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
  }
}
@media (max-width: 720px) {
  .homeScrollContainer-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
  }
}
@media (max-width: 542px) {
  .homeScrollContainer-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
  }
} */


@media (max-width: 880px) {
  .homeScrollContainer-header-logo_overlay {
    display: none;
  }
}

.homeScrollContainer-header-logo_overlay {
  text-align: center;
  border: none;
  height: 10vw;
 animation: logoLoop 3s infinite;
}


@keyframes logoLoop { 
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#videoLosi {
  position: fixed;
  top: 50px;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.videoLosiContainer {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}




.home-shop-section{
  z-index: 1;

}
.new-release-bottom-photo {

  margin-bottom: -30%;

	
}
