.homeScrollContainer {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}
.homeScrollContainer-seccion {
  margin: 0;
  padding: 0;
  height: 100vh;
  scroll-snap-align: start;
}

.logo-overlay {
  text-align: center;
  border: none;
  height: 6vh;
}
