.scrollContainer {
  width: 100%;
  height: 100%;
  scroll-snap-type: y mandatory;
}
section {
  height: 100vh;
  scroll-snap-align: start;
}
.alturaMinima {
  min-height: 300px;
}
.product-category-section h2 {
  font-weight: 600;
  text-align: left;
}

.form-check .form-check-input {
  float: none;
  margin-right: 1rem;
}

/* Hice esta modificacion 
porque sino afecta el ancho y 
alto de todas las imagenes */
#Tablas img,
#Hardware img,
#Ropa img {
  width: 200px;
  height: 300px;
  object-fit: contain;
}
