.productSection img {
  max-height: 440px;
}

.productSection h2 {
  font-size: 1.3rem;
  font-weight: 900;
  text-align: left;
}

.productSection h3 {
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
}

.productSection p {
  text-align: left;
}

.productSection .detalles {
  text-align: left;
}
