.about-main-container {
	margin-top: 65px;
}

@media (min-width: 992px) {
	.about-main-container {
		width: 85vw;
		margin: auto;
		margin-top: 65px;
	}
}

@media (min-width: 1200px) {
	.about-main-container {
		margin-top: 72.5px;
	}
}

@media (min-width: 1400px) {
	.about-main-container {
		margin-top: 77.5px;
	}
}

.about-main-title {
	height: 60px;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #000;
}

.about-main-title h1 {
	margin: 0;
	color: #fff;
}

.about-main-options-div {
	display: flex;
	flex-direction: column;

	justify-content: space-between;
	background-color: #fff;
}

@media (min-width: 768px) {
	.about-main-options-div {
		flex-direction: row;
		flex-wrap: wrap;
	}
}

.about-main-option {
	display: flex;
	justify-content: center;
	align-items: center;

	border: none;
	border-top: 3px solid #fff;
	border-bottom: 3px solid transparent;

	background-color: #000;

	font-size: 1.25rem;
	color: #fff;

	cursor: pointer;
}

@media (min-width: 768px) {
	.about-main-option {
		height: 60px;
		width: 49.9%;

		font-size: 1.5rem;
	}
}

.about-main-option:hover {
	background-color: rgb(32, 32, 32);
}

.about-main-proyect {
	padding: 2.5%;

	font-size: 1rem;

	text-align: left;
}

@media (min-width: 768px) {
	.about-main-proyect {
		padding: 2.5% 7.5%;

		font-size: 1.25rem;
	}
}

.about-main-dev {
	margin-top: 0.2rem;

	padding: 2.5%;
}

/* @media (min-width: 768px) {
	.about-main-dev {
		flex-direction: row;
	}
} */

.about-main-dev-card {
	height: 500px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	margin: 0;

	background-color: #fff;
}

.about-main-dev-avatar {
	height: 200px;
	width: 200px;

	margin: 0 auto;

	border-radius: 50%;

	background-color: #000;
}

.about-main-dev-avatar img {
	height: 200px;
	width: 200px;

	border-radius: 50%;
}

.about-main-dev-info h3 {
	background-color: #000;

	margin: 0;

	font-size: 1.25rem;
	color: #fff;
}

.about-main-dev-info p {
	margin: 0;

	padding: 0 0.25rem;

	text-align: left;
}

.about-main-dev-icon-div {
	display: flex;
	align-items: center;

	padding: 0 0.25rem;

	background-color: #000;
}

.about-main-dev-icon-div p {
	margin: 0;
	color: #fff;

	margin-left: 0.5rem;
	padding: 0;
}

.dev-icon {
	font-size: 30px;
	color: #fff;
}
