.about-header {
  height: 100vh;
  width: 100vw;
  background-image: url("https://i.pinimg.com/originals/53/24/7e/53247ef4e2481f4d8acbaffdf03648db.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
}

.about-header-title {
  font-size: 3rem;
  margin: 0;
  color: #fff;
}

@media (min-width: 768px) {
  .about-header-title {
    font-size: 5rem;
    font-weight: 400;
  }
}

.about-text > p {
  font-size: 1.25rem;
  text-align: justify;
}

@media (min-width: 768px) {
  .about-text > p {
    font-size: 1.5rem;
  }
}

.about-text-losi-logo {
  height: 38px;
  width: 140px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: inline-block;

  margin-right: 0.25rem;
}

.about-text-hack {
  font-weight: 700;
  /* font-size: 2rem; */
  color: #000;
}

.about-text-culto {
  font-size: 2rem;
  font-weight: 900;
  color: #000;
}

.about-scroll-image {
  height: 50vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("https://images.wallpaperscraft.com/image/single/skateboard_skate_skater_205475_3840x2160.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.about-scroll-image > h2 {
  font-size: 5rem;
  font-weight: 400;
  color: #fff;
}

.about-text-title {
  /* text-align: left; */

  font-size: 2.5rem;
}

.about-text-trello {
  font-family: "Kanit", sans-serif;
  font-size: 2.5rem;

  color: #000;
}

.tecnology-applied-div {
  display: flex;
  flex-wrap: wrap;
}

.tecnology-applied {
  height: 80px;
  width: 80px;

  border: 1px solid rgb(22, 22, 22);
  border-radius: 5px;

  margin: 2.5px;
  padding: 5px;
}

@media (min-width: 1100px) {
  .tecnology-applied-div {
    justify-content: space-between;
  }
  .tecnology-applied {
    margin: 0;
  }
}
