.admin {
	display: flex;
	flex-direction: column;
}

.admin-dropdown-button {
	padding: 0 !important;

	line-height: 1.5rem;
}

.admin-main {
	display: flex;
}

.admin-main-sidebar {
	height: 90vh;
	width: 300px;

	display: flex;
	flex-direction: column;

	padding: 0 1rem;

	background-color: #000;

	transition: all 0.5s;
}

.admin-main-sidebar-hidden {
	display: none;
}

.admin-main-sidebar-option {
	display: flex;
	flex-direction: column;

	border-bottom: 1px solid #fff;

	margin: 1rem 0;
}

.admin-main-sidebar-option h2,
h3 {
	margin: 0;

	text-align: left;

	color: gray;
}

.admin-main-sidebar-option a {
	text-align: left;
	color: rgb(255, 255, 255);
}

.admin-main-sidebar-option p:hover {
	background-color: rgb(59, 59, 59);
}

.admin-main-sidebar-user {
	margin-top: auto;
	color: #fff;
}

.admin-main-sidebar-user p {
	margin: 0;

	font-size: 1.5rem;
}

.admin-main-home {
	margin: auto;
}

.admin-main-content {
	margin: 2.5rem auto;

	border: 1px solid #000;
}

.admin-main-content h2 {
	text-align: center;

	font-weight: normal;

	color: #000;
}

.admin-main-content-data {
	height: 500px;
	width: 500px;
}
