.admin {
	display: flex;
	flex-direction: column;
}

.admin-back {
	height: 45px;
	width: 100%;

	display: flex;
	justify-content: flex-start;
	align-items: center;

	padding: 0 1rem;

	font-weight: bold;

	background-color: #000;
}

.admin-back span,
a {
	margin: 0 0.125rem;

	text-decoration: none;

	color: #fff;
}

.admin-back a:hover {
	color: #fff;
}

.admin-back button {
	padding: 0 0.5rem;
}

.admin-back i {
	font-size: 1.5rem;
}

.admin-back h1 {
	margin: auto;

	color: #fff;
}

.admin-main {
	display: flex;
	position: relative;
}

.admin-main-sidebar {
	height: 90vh;
	width: 300px;

	position: absolute;
	left: 0;
	padding: 0 1rem;

	background-color: #000;

	transition: all 0.5s;
}

.admin-main-sidebar-hidden {
	left: -300px;

	transition: all 0.5s;
}

.admin-main-sidebar-option {
	border-bottom: 1px solid #fff;

	/* margin: 1rem 0; */
}

.admin-main-sidebar-option h2,
h3 {
	/* margin: 0; */

	text-align: left;

	color: gray;
}

.admin-main-sidebar-option p {
	/* margin: 0; */
	color: rgb(172, 119, 119);

	cursor: pointer;
}

.admin-main-sidebar-option p:hover {
	background-color: rgb(59, 59, 59);
}

.admin-main-sidebar-option-d-none {
	display: none;
}
